In [106]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [107]:
df = pd.read_csv('micro_lab.csv')
df1 = df[df['Course Type'] == 'TH']
df2 = df[df['Course Type'] == 'LO']

In [108]:
print(df1)

   Slot Detail   Venue             Faculty Course Type
0           C2  SMV111        NUPUR MANASI          TH
1           F1  SJT504      GAURAV SUSHANT          TH
2           F2  SJT308        SHILPI GUPTA          TH
3           G2   TT413        SHILPI GUPTA          TH
4           F1  SJT423        NUPUR MANASI          TH
5           F2  SJT301  BAISHALI CHOUDHURI          TH
6           G1  PRP411      GAURAV SUSHANT          TH
7           G1  PRPG06  BAISHALI CHOUDHURI          TH
8           G1  PRP414        NUPUR MANASI          TH
9           B2  PRP126      GAURAV SUSHANT          TH
10          E2   TT204      GAURAV SUSHANT          TH
11          G2  SMV109        NUPUR MANASI          TH
12          D1  SJT109        SHILPI GUPTA          TH
13          E1  SJT407        SHILPI GUPTA          TH
14          F2  SMV102        NUPUR MANASI          TH
15          E1  PRP104  BAISHALI CHOUDHURI          TH
16          G2  PRP509  BAISHALI CHOUDHURI          TH
17          F2  SJT303   SABYASACHI MISHRA          TH
18          C2   MB229   SABYASACHI MISHRA          TH
19          A1   MB226   SABYASACHI MISHRA          TH
20          G2  SJT607   SABYASACHI MISHRA          TH
21          G1   TT619   SABYASACHI MISHRA          TH

In [109]:
print(df2)

Empty DataFrame
Columns: [Slot Detail, Venue, Faculty, Course Type]
Index: []

In [110]:
df1 = df1.drop('Course Type', axis=1)
df2 = df2.drop('Course Type', axis=1)

In [111]:
print(df1)

   Slot Detail   Venue             Faculty
0           C2  SMV111        NUPUR MANASI
1           F1  SJT504      GAURAV SUSHANT
2           F2  SJT308        SHILPI GUPTA
3           G2   TT413        SHILPI GUPTA
4           F1  SJT423        NUPUR MANASI
5           F2  SJT301  BAISHALI CHOUDHURI
6           G1  PRP411      GAURAV SUSHANT
7           G1  PRPG06  BAISHALI CHOUDHURI
8           G1  PRP414        NUPUR MANASI
9           B2  PRP126      GAURAV SUSHANT
10          E2   TT204      GAURAV SUSHANT
11          G2  SMV109        NUPUR MANASI
12          D1  SJT109        SHILPI GUPTA
13          E1  SJT407        SHILPI GUPTA
14          F2  SMV102        NUPUR MANASI
15          E1  PRP104  BAISHALI CHOUDHURI
16          G2  PRP509  BAISHALI CHOUDHURI
17          F2  SJT303   SABYASACHI MISHRA
18          C2   MB229   SABYASACHI MISHRA
19          A1   MB226   SABYASACHI MISHRA
20          G2  SJT607   SABYASACHI MISHRA
21          G1   TT619   SABYASACHI MISHRA

## Separate morning and afternoon slots in Theory

In [112]:
mask = df1['Slot Detail'].str.endswith('1')
mt = df1[mask]
at = df1[~mask]

In [113]:
print(mt)

   Slot Detail   Venue             Faculty
1           F1  SJT504      GAURAV SUSHANT
4           F1  SJT423        NUPUR MANASI
6           G1  PRP411      GAURAV SUSHANT
7           G1  PRPG06  BAISHALI CHOUDHURI
8           G1  PRP414        NUPUR MANASI
12          D1  SJT109        SHILPI GUPTA
13          E1  SJT407        SHILPI GUPTA
15          E1  PRP104  BAISHALI CHOUDHURI
19          A1   MB226   SABYASACHI MISHRA
21          G1   TT619   SABYASACHI MISHRA

In [114]:
print(at)

   Slot Detail   Venue             Faculty
0           C2  SMV111        NUPUR MANASI
2           F2  SJT308        SHILPI GUPTA
3           G2   TT413        SHILPI GUPTA
5           F2  SJT301  BAISHALI CHOUDHURI
9           B2  PRP126      GAURAV SUSHANT
10          E2   TT204      GAURAV SUSHANT
11          G2  SMV109        NUPUR MANASI
14          F2  SMV102        NUPUR MANASI
16          G2  PRP509  BAISHALI CHOUDHURI
17          F2  SJT303   SABYASACHI MISHRA
18          C2   MB229   SABYASACHI MISHRA
20          G2  SJT607   SABYASACHI MISHRA

In [115]:
lang = pd.concat([mt,at])
lang.to_csv('Spanish.csv')

## Separate morning and afternoon slots in Lab

In [116]:
df2['Slot Detail'] = df2['Slot Detail'].str.replace('L', '')
df2[['Slot Detail','Slot 2']] = df2['Slot Detail'].str.split('+',expand = True)
df2 = df2.drop('Slot 2', axis = 1)
df2['Slot Detail'] = df2['Slot Detail'].apply(int)

ValueError: Columns must be same length as key

In [ ]:
mask_lo = df2['Slot Detail'] < 30
ml = df2[~mask_lo]
al = df2[mask_lo]

In [ ]:
print(ml)

   Slot Detail  Venue         Faculty
1           57  TT318  BHUVANESWARI M
3           39  TT318   POONAM SHARMA

In [ ]:
morning_lab = ml.merge(at, on='Faculty')
evening_lab = al.merge(mt, on='Faculty')

In [ ]:
morning_lab = morning_lab.sort_values(by='Slot Detail_x')
evening_lab = evening_lab.sort_values(by='Slot Detail_x')

In [ ]:
df_final = pd.concat([morning_lab,evening_lab])

In [ ]:
df_final.to_csv('psychology.csv')